@import url('https://fonts.googleapis.com/css?family=Orbitron:800&display=swap');


@font-face {
  font-family:"Digital";
  src: url("Digital-7.ttf") format("truetype");
}

* {
	/*background-color: black;*/
	color: white;
}

#orasan,
#petsa {
	font-family:"Digital";
	text-align: center;
	letter-spacing: 10px;
}


#orasan {
	font-size: 200px;
	box-shadow: 0px 0px 20px white;
	margin: 50px 0;
	width: 100%;
}

#petsa {
	font-size: 100px;

}


#blinking1,
#blinking2 {
    animation:blinkingText 1.2s infinite;
}


@keyframes blinkingText {
    0%{     color: #00000;    }
    49%{    color: #00000; }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color: #00000;    }
}


.divs {
	float: left;
	padding: 10px;
	margin: 80px;
	text-align: center;
	font-family: courier;
	letter-spacing: 3px;
}

button {
	color: black;
	border-radius: 10px;
	font-family: courier;
	letter-spacing: 3px;


}